<% layout('layouts/boilerplate')%>
    
    <h1 style="font-size: 1.2em">
        <%= product.inn %> - 
        <%= product.formulation%>
    </h1>

<div class="row">
    <div class="col-sm-6" style=" line-height:1.0">
    <span style="color:rgb(119, 119, 121); font-size: 0.5em"> Created: <%= product.author.username%> 
    <em>On: <%= product.createdAt.toDateString()%></em> 
    <% if( (product.createdAt - Date.now())/604800000 <= -1)      {%>
    (<%= - Math.floor( (product.createdAt - Date.now())/1209600000)%> week(s) ago)
    <% } %>    
    </span>
</div> 
<div class="col-sm-6" style=" line-height:1.0">
    <% if(product.createdAt.toDateString() != product.updatedAt.toDateString()) {%>
     <span style="color:rgb(119, 119, 121); font-size: 0.5em"> Edited: <%= product.editor.username%>
     <em>On: <%= product.updatedAt.toDateString()%></em> 
     <% if( (product.updatedAt - Date.now())/604800000 <= -1)      {%>
    (<%= - Math.floor( (product.updatedAt - Date.now())/1209600000)%> week(s) ago)
     <% } %>    
    </span>
    <% } %>
</div>   
</div>  
    

    <div class="row">
 
        <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
            <span style="font-size: 1em">  Product Details Requested</span>  
                <ul>
                    <li><span style="font-size: 0.8em">Dosage form:</span><span style="font-size: 0.8em; color:rgb(119, 119, 121)"> <%=product.formulation %> </span> 
                    </li> 
                    <li><span style="font-size: 0.8em">Strength:</span><span style="font-size: 0.8em; color:rgb(119, 119, 121)">  <%=product.strength %> <%=product.unit%></span> 
                    </li>
                    <li><span style="font-size: 0.8em">Primary packaging:</span><span style="font-size: 0.8em; color:rgb(119, 119, 121)">  <%=product.packSize %> in <%=product.packaging%> </span> 
                    </li>
                    <li><span style="font-size: 0.8em">Hospital pack:</span><span style="font-size: 0.8em; color:rgb(119, 119, 121)">  <%=product.hosp_packaging %></span> 
                    </li>
                    <li><span style="font-size: 0.8em">Minimum Shelflife at time of delivery to province (m):</span><span style="font-size: 0.8em; color:rgb(119, 119, 121)">  <%=product.shelflife %> months</span> 
                    </li>
                    <li><span style="font-size: 0.8em">Delivery to:</span><span style="font-size: 0.8em; color:rgb(119, 119, 121)">  <%=product.demand%> provinces</span> 
                    </li>
                </ul>

                <%  if( product.remarks === "")  {%>
                <p></p>
                <% } else{ %>
                    <p>Comment: <%=product.remarks %></p>
                    <% } %>
                
                <hr> 
                <br>
              
                <%  if( currentUser && product.author.equals(currentUser._id) || currentUser &&
                currentUser.isAdmin || currentUser &&  currentUser.isQA)  {%>
                <p> <a class="btn btn-sm btn-warning" href="/products/<%=product._id%>/edit">Edit</a></p>

                <form action="/products/<%=product._id%>?_method=DELETE" method="POST">
                <button class="btn btn-sm btn-danger">Delete Product</button>
                </form>
                <% } %>
            
              </div>
            </div>
          </div>
          
        <div class="col-sm-6">
            
            <div class="card">

                <div class="card-body">

                    <span style="font-size: 1em"> Closing: <%= product.close.toDateString()%></span>
                     
                    <%  if( product.close < Date.now())  {%>
                    <h3 style="font-size: 1em"><em>  <span style="color:rgb(157, 6, 6)">(<%= moment(product.close).fromNow() %>)</span></em></h3>  
                    <% } else{ %>
                        <h3 style="font-size: 1em"><em>(<%= moment(product.close).fromNow() %>)</em></h3>  
                    <% } %>


<div class="row">
<%  if( currentUser && currentUser.isQA) {%>
<div class="col-sm-12">            
<p class="mt-3"><a class="btn btn-xs btn-success" href="/products/<%=product._id%>/close" role="button">Extend/Shorten Validity</a></p>         
</div>
  <% } %>
</div>

                    <br>
                    <span style="font-size: 1em"> Expressions Received  (<%=product.expressions.length%>)</span>        
                    <ul>
                    <% for(let expression of product.expressions) {%>
                      
                            <%  if( currentUser && expression.author.equals(currentUser._id) || currentUser &&
                            currentUser.isAdmin || currentUser &&
                        currentUser.isQA)  {%>
                            <li><span style="font-size: 0.8em"> <a href="/expressions/<%=expression._id%>">
                                 <%=expression.company%> - <%=expression.mf_country%></a> <br>Date: <%=expression.createdAt.toDateString()%></span> 
                            </li>
                            <% } else{ %>
                            <li><span style="font-size: 0.8em"> <%=expression.company%> - <%=expression.mf_country%> on: <%=expression.createdAt.toDateString()%></span> 
                            </li>
                            <% } %>
                    <% } %>
                    </ul>
       
               <br>
                    <p>  <%  if( product.close > Date.now())  {%>
                    <a class="btn btn-sm btn-primary" href="/products/<%=product._id%>/expressions/new">Add
                        a New
                      Expression</a>
                      <% } %>  </p>
                </div>
    
          

            </div>
        </div>  
       
    </div>

        
  