<% layout('layouts/boilerplate')%>
    
<div class="row">
    <div class="col-sm-9">
        <div class="card">
            <div class="card-body">
                <h2 style="font-size: 1.2em">Company: <%= expression.company%></h2>
                <h4 style="font-size: 1.2em">Product: <a href="/products/<%=expression.product._id%>"><%=expression.product.inn%> <%=expression.product.strength%> <%=expression.product.unit%></a></h4>
            
            
            <div class="row">
                <div class="col-sm-6 style=" line-height:1.1">
                        <span style="color:rgb(119, 119, 121); font-size: 0.5em"> Submitted:<%= expression.author.username%> (<%= expression.author.company%>)
                        <em>On: <%= expression.createdAt.toDateString()%></em>
                        <% if( (expression.createdAt - Date.now())/604800000 <= -1)      {%>
                            (<%= - Math.floor( (expression.createdAt - Date.now())/1209600000)%> week(s) ago)
                            <% } %> 
                        </span>
                </div>     
                <div class="col-sm-6 style=" line-height:1.1">   
                        <% if(expression.createdAt.toDateString() != expression.updatedAt.toDateString()) {%>
                        <span style="color:rgb(119, 119, 121); font-size: 0.5em"> Edited on:
                        <!-- <%= expression.editor.username%> (<%= expression.editor.company%>) -->
                        <em><%= expression.updatedAt.toDateString()%></em>
                        <% if( (expression.updatedAt - Date.now())/604800000 <= -1)      {%>
                            (<%= - Math.floor( (expression.updatedAt - Date.now())/1209600000)%> week(s) ago)
                             <% } %>  
                        </span>
                        <% } %>
                </div>
            </div> 
        </div>  
    </div>
</div>



    <div class="col-sm-3">
    <div class="card">
    <div class="card-body">
                    
                <h2 style="font-size: 1em">EOI Status</h2> 
                
                <h5 style="font-size: 1em"> 
                      
                    <% if(expression.status==="ONLINE CHECK" ) {%>
                        <span style="color:rgb(8, 96, 249)">
                            <%=expression.status %>
                        </span>
                        <% } %>

                        <% if(expression.status==="ACCEPT" ) {%>
                            <span style="color:rgb(8, 96, 249)">
                                <%=expression.status %>
                            </span>
                            <% } %>

                            <% if(expression.status==="REJECT" ) {%>
                                <span style="color:rgb(135, 6, 240)">
                                    <%=expression.status %>
                                </span>
                                <% } %>
                </h5> 

                <%  if( currentUser && currentUser.isAdmin || currentUser && currentUser.isQA) {%>    
                    <p class="mt-3"><a class="btn btn-warning btn-sm" href="/expressions/<%=expression._id%>/status" role="button">Change Status</a></p>         
                    <% } %>
    </div>
    </div>
    </div>
    
</div>   
    


<br>
<div class="row">

    <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 style="font-size: 1em">Manufacturer  </h5>
                <ul>
                    <% if(expression.manufacturer != "" ) {%>
                        <span style= "font-size: 0.8em">       <li><%= expression.manufacturer%>
                            </li>
                            <li>   <%= expression.mf_country%>
                            </li> </span>
                        <% } %>
                </ul>
              
                
                    <hr>
                  <h5 style="font-size: 1em">  Contacts for this EOI:    </h5> 
                <ul>    
                    <span style= "font-size: 0.8em">        <li>Telephone:<br> <%= expression.tel %> 
                    </li>
                    <li>Email: <%= expression.email %> 
                    </li> </span>
                </ul>
                        
            </div>
        </div>
    </div>
    
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                    
                <h5 style="font-size: 1em">Product Offered </h5>
                    
            <ul>
                <li>
                <% if(expression.product.formulation === expression.formulation) {%>
                    <span style= "font-size: 0.8em">  Formulation: </span><span style= "font-size: 0.8em; color:rgba(2, 46, 155, 0.935)">
                <%=expression.formulation %> 
                </span>
                <% } %>
                <% if(expression.product.formulation != expression.formulation) {%>
                    <span style= "font-size: 0.8em">    Formulation:</span><span style= "font-size: 0.8em; color:rgb(249, 104, 8)">
                 <%=expression.formulation %> 
                </span>
                <% } %>
                </li>
                <li>
                <% if(expression.product.strength  === expression.strength) {%>
                    <span style= "font-size: 0.8em">   Strength:</span><span style= "font-size: 0.8em; color:rgb(2, 46, 155, 0.935)">
                 <%=expression.strength %>  <%=expression.unit %> 
                </span>
                <% } %>
                <% if(expression.product.strength != expression.strength) {%>
                    <span style= "font-size: 0.8em">     Strength:</span><span style= "font-size: 0.8em; color:rgb(249, 104, 8)">
                 <%=expression.strength %>  <%=expression.unit %> 
                </span>
                <% } %>
                </li>
                <li>
                <% if(expression.product.packSize === expression.packSize) {%>
                    <span style= "font-size: 0.8em">    Pack size (units):</span> <span style= "font-size: 0.8em; color:rgb(2, 46, 155, 0.935)">
               <%= expression.packSize%> 
                </span>
                <% } %>
                <% if(expression.product.packSize != expression.packSize) {%>
                    <span style= "font-size: 0.8em">    Pack size (units):</span><span style= "font-size: 0.8em; color:rgb(249, 104, 8)">
                 <%= expression.packSize%> 
                </span>
                <% } %>
                </li>
                <li>
                <% if(expression.product.packaging === expression.packaging) {%>
                    <span style= "font-size: 0.8em">   Primary packaging: </span><span style= "font-size: 0.8em; color:rgb(2, 46, 155, 0.935)">
                 <%= expression.packaging%> 
                </span>
                <% } %>
                <% if(expression.product.packaging != expression.packaging) {%>
                    <span style= "font-size: 0.8em">    Primary packaging:</span><span style= "font-size: 0.8em; color:rgb(249, 104, 8)">
                 <%= expression.packaging%> 
                </span>
                <% } %>
                </li>
                <li>
                <% if(expression.product.hosp_packaging === expression.hosp_packaging ) {%>
                    <span style= "font-size: 0.8em">   Hospital pack: </span><span style= "font-size: 0.8em; color:rgb(2, 46, 155, 0.935)">
               <%= expression.hosp_packaging %> 
                </span>
                 <% } %>
                <% if(expression.product.hosp_packaging  != expression.hosp_packaging ) {%>
                    <span style= "font-size: 0.8em">   Hospital pack:</span><span style= "font-size: 0.8em; color:rgb(249, 104, 8)">
                <%= expression.hosp_packaging %> 
                </span>
                <% } %>
                </li>
                <li>
                <% if(expression.product.shelflife === expression.shelflife) {%>
                    <span style= "font-size: 0.8em">     Shelflife (m): </span><span style= "font-size: 0.8em; color:rgb(2, 46, 155, 0.935)">
                <%= expression.shelflife%> 
                </span>
                <% } %>
                <% if(expression.product.shelflife != expression.shelflife) {%>
                    <span style= "font-size: 0.8em">    Shelflife (m): </span> <span style= "font-size: 0.8em; color:rgb(249, 104, 8)">
                <%= expression.shelflife%> 
                </span>
                <% } %>
                </li>
                
                <hr>

                <li>
                    <span style= "font-size: 0.8em">  Finished Product Spec: <em><%= expression.standard%></em> </span>
                </li>
                <li>
                    <span style= "font-size: 0.8em">  Recommended storage conditions: <em><%= expression.storage%></em> </span>
                </li>
                <li>
                    <% if(expression.current_other === "") {%>
                    <span style= "font-size: 0.8em"> Marketed in other countries: </span><span style= "font-size: 0.8em; color:rgb(249, 104, 8)"><em> None</em> </span>
                    <% } else{ %>
                        <span style= "font-size: 0.8em"> Marketed in other countries: <em><%= expression.current_other%></em> </span>
                        <% } %>
                </li>
                <li>
                <% if(expression.afda === "Yes") {%>
                    <span style= "font-size: 0.8em">   AFDA clearance: </span>
                    <span style=  "font-size: 0.8em; color:rgba(5, 58, 193, 0.935)"><em><%= expression.afda%></em></span>
                <% } else{ %>
                    <span style= "font-size: 0.8em">   AFDA clearance: </span>
                    <span style=  "font-size: 0.8em; color:rgb(249, 104, 8)"><em><%= expression.afda%></em></span>
                <% } %>
                </li>
                </ul>
                <hr>

                <h5 style="font-size: 1em">Documentation</h5>
                <ul>
                    <li><% if( expression.gmp=== "No" || expression.gmp === "To be confirmed")  {%>
                    <span style= "font-size: 0.8em">GMP Certificate: </span><span style= "font-size: 0.8em; color:rgb(249, 104, 8)"><%=expression.gmp%></span>
                        <% } else{ %>
                    <span style= "font-size: 0.8em">GMP Certificate: </span><span style= "font-size: 0.8em; color:rgb(2, 46, 155, 0.935)"><em><%=expression.gmp%></em></span>
                        <% } %>
                    </li>
                    <li><% if( expression.api=== "No" || expression.api === "To be confirmed")  {%>
                    <span style= "font-size: 0.8em">API source(s): </span><span style= "font-size: 0.8em; color:rgb(249, 104, 8)"><%=expression.api%></span>
                        <% } else{ %>
                    <span style= "font-size: 0.8em">API source(s): </span><span style= "font-size: 0.8em; color:rgb(2, 46, 155, 0.935)"><em><%=expression.api%></em></span>
                        <% } %>
                    </li>
                    <li><% if( expression.stab=== "No" || expression.stab === "To be confirmed")  {%>
                    <span style= "font-size: 0.8em">Stability data: </span><span style= "font-size: 0.8em; color:rgb(249, 104, 8)"><%=expression.stab%></span>
                        <% } else{ %>
                    <span style= "font-size: 0.8em">Stability data: </span><span style= "font-size: 0.8em; color:rgb(2, 46, 155, 0.935)"><em><%=expression.stab%></em></span>
                        <% } %>
                    </li>
                    <li> <% if( expression.ster=== "No" || expression.ster === "To be confirmed")  {%>
                    <span style= "font-size: 0.8em">Sterilisation: </span><span style= "font-size: 0.8em; color:rgb(249, 104, 8)"><%=expression.ster%></span>
                        <% } else{ %>
                    <span style= "font-size: 0.8em">Sterilisation: </span><span style= "font-size: 0.8em; color:rgb(2, 46, 155, 0.935)"><em><%=expression.ster%></em></span>
                        <% } %>
                    </li>
                    <li> <% if( expression.be=== "No" || expression.be === "To be confirmed")  {%>
                        <span style= "font-size: 0.8em">Interchangeability: </span><span style= "font-size: 0.8em; color:rgb(249, 104, 8)"><%=expression.be%></span>
                            <% } else{ %>
                        <span style= "font-size: 0.8em">Interchangeability: </span><span style= "font-size: 0.8em; color:rgb(2, 46, 155, 0.935)"><em><%=expression.be%></em></span>
                            <% } %>
                    </li>
                    <li> <% if( expression.packSpec=== "No" || expression.packSpec === "To be confirmed")  {%>
                        <span style= "font-size: 0.8em">Packaging specification: </span><span style= "font-size: 0.8em; color:rgb(249, 104, 8)"><%=expression.packSpec%></span>
                            <% } else{ %>
                        <span style= "font-size: 0.8em">Packaging specification: </span><span style= "font-size: 0.8em; color:rgb(2, 46, 155, 0.935)"><em><%=expression.packSpec%></em></span>
                            <% } %>
                    </li>
                    <li> <% if( expression.fpSpec=== "No" || expression.fpSpec === "To be confirmed")  {%>
                        <span style= "font-size: 0.8em">FP specification: </span><span style= "font-size: 0.8em; color:rgb(249, 104, 8)"><%=expression.fpSpec%></span>
                            <% } else{ %>
                        <span style= "font-size: 0.8em">FP specification: </span><span style= "font-size: 0.8em; color:rgb(2, 46, 155, 0.935)"><em><%=expression.fpSpec%></em></span>
                            <% } %>
                    </li>
                    <li> <% if( expression.labelImage=== "No" || expression.labeImage === "To be confirmed")  {%>
                        <span style= "font-size: 0.8em">Label Image: </span><span style= "font-size: 0.8em; color:rgb(249, 104, 8)"><%=expression.labelImage%></span>
                            <% } else{ %>
                        <span style= "font-size: 0.8em">Label Image: </span><span style= "font-size: 0.8em; color:rgb(2, 46, 155, 0.935)"><em><%=expression.labelImage%></em></span>
                            <% } %>
                    </li>
                </ul>   
               
            <hr>


            <h5 style="font-size: 1em">  Supporting Documentation uploaded:</h5>
          
               
            <div id="expressionCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                        <% expression.images.forEach((img, i) => {  %>
                        <div class="carousel-item <%= i === 0 ? 'active' : ''%>">
                            <img src="<%= img.url%>" class="d-block w-100" alt="">
                        </div>
                        <% }) %>
                </div>
                    <% if(expression.images.length > 1) {%>
                    <a class="carousel-control-prev" href="#expressionCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#expressionCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    <% } %>
            </div>
                 
                    
            </div>
        </div>
    </div> 

    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                
            <h5 style="font-size: 1em">Product Requested </h5>
                
            <ul>
                <li>
                <% if(expression.product.formulation === expression.formulation) {%>
                    <span style= "font-size: 0.8em">      Formulation: </span><span style= "font-size: 0.8em; color:rgb(2, 46, 155, 0.935)">
                <%=expression.product.formulation %> 
                </span>
                <% } %>
                <% if(expression.product.formulation != expression.formulation) {%>
                    <span style= "font-size: 0.8em">     Formulation:</span> <span style= "font-size: 0.8em; color:rgb(249, 104, 8)">
                Formulation: <%=expression.product.formulation %> 
                </span>
                <% } %>
                </li>
                
                <li>
                <% if(expression.product.strength  === expression.strength) {%>
                    <span style= "font-size: 0.8em">      Strength:</span><span style= "font-size: 0.8em; color:rgb(2, 46, 155, 0.935)">
                 <%=expression.product.strength %>  <%=expression.product.unit %> 
                </span>
                <% } %>
                <% if(expression.product.strength != expression.strength) {%>
                    <span style= "font-size: 0.8em">      Strength:</span><span style= "font-size: 0.8em; color:rgb(249, 104, 8)">
               <%=expression.product.strength %>  <%=expression.product.unit %> 
                </span>
                <% } %>
                </li>

                <li>
                <% if(expression.product.packSize === expression.packSize) {%>
                    <span style= "font-size: 0.8em">     Pack size (units): </span><span style= "font-size: 0.8em; color:rgb(2, 46, 155, 0.935)">
                <%= expression.product.packSize%> 
                </span>
                <% } %>
                <% if(expression.product.packSize != expression.packSize) {%>
                    <span style= "font-size: 0.8em">      Pack size (units): </span><span style= "font-size: 0.8em; color:rgb(249, 104, 8)">
               <%= expression.product.packSize%> 
                </span>
                <% } %>
                </li>

                <li>
                <% if(expression.product.packaging === expression.packaging) {%>
                    <span style= "font-size: 0.8em">       Primary packaging:</span><span style= "font-size: 0.8em; color:rgb(2, 46, 155, 0.935)">
                 <%= expression.product.packaging%> 
                </span>
                <% } %>
                <% if(expression.product.packaging != expression.packaging) {%>
                    <span style= "font-size: 0.8em">      Primary packaging:</span><span style= "font-size: 0.8em; color:rgb(249, 104, 8)">
                <%= expression.product.packaging%> 
                </span>
                <% } %>
                </li>

                <li>
                <% if(expression.product.hosp_packaging === expression.hosp_packaging) {%>
                    <span style= "font-size: 0.8em">      Hospital pack:</span> <span style= "font-size: 0.8em; color:rgb(2, 46, 155, 0.935)">
                <%= expression.product.hosp_packaging%> 
                </span>
                <% } %>
                <% if(expression.product.hosp_packaging != expression.hosp_packaging) {%>
                    <span style= "font-size: 0.8em">      Hospital pack:</span> <span style= "font-size: 0.8em; color:rgb(249, 104, 8)">
                <%= expression.product.hosp_packaging%> 
                </span>
                <% } %>
                </li>
    
                <li>
                <% if(expression.product.shelflife === expression.shelflife) {%>
                    <span style= "font-size: 0.8em">      Shelflife (m): </span><span style= "font-size: 0.8em; color:rgb(5, 58, 193, 0.935)">
                <%= expression.product.shelflife%> 
                </span>
                <% } %>
                <% if(expression.product.shelflife != expression.shelflife) {%>
                    <span style= "font-size: 0.8em">      Shelflife (m): </span><span style= "font-size: 0.8em; color:rgb(249, 104, 8)">
                <%= expression.product.shelflife%> 
                </span>
                <% } %>
                </li>
            </ul>
        </div>
    </div>
</div> 

</div> 

<br>

<div class="row">                   
    
    <div class="col-sm-4">
        <span style="color:rgb(162, 164, 165)">
        <% if(expression.status === "ONLINE CHECK") {%>
            <p> <a class="btn btn-sm btn-warning" href="/expressions/<%=expression._id%>/edit">Edit</a></p>
        <form action="/expressions/<%=expression._id%>?_method=DELETE" method="POST">
        <button class="btn btn-sm btn-danger">Delete</button>
        </form>
        <% } %>
    </div>


</div> 

<br>

<div class="row">

    <% if(expression.status==="ONLINE CHECK" ) {%>
        <div class="col-12">
            <h5 style="font-size: 1em">Questions</h5>
            <form action="/expressions/<%=expression._id%>/checks" method="POST" class="mb-3 validated-form" novalidate>
                <div class="mb-3">
                    <!-- <label class="form-label" for="rating">Rating (1-10)</label> -->
                    <!-- <input class="form-range" type="range" min="1" max="10" name="check[rating]" id="rating"> -->
                </div>
                <div class="mb-3">
                  
                    <textarea class="form-control" name="check[body]" id="body" cols="30" rows="3" required></textarea>
                
                </div>
                <button class="btn btn-sm btn-success ">Submit</button>
            </form>
            <% for(let check of expression.checks) { %>
            <div class="card mb-3 ">
                <div class="card-body">
                    <!-- <h5 class="card-title">Rating: <%= check.rating %></h5> -->
                    <p class="card-text"><%= check.body %> </p>
                    <p><em><span style="color:rgb(33, 32, 32); font-size: 0.8em" ">Author: <%= check.author.username %> at <%= check.createdAt.toDateString() %></span></em></p>
                    <form action="/expressions/<%=expression._id%>/checks/<%=check._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-sm btn-danger">Delete</button>
                    </form>
                </div>
            </div>
            <% } %>
        </div>
        <% } %>


    <% if(expression.status=== "ACCEPT") {%>
    <div class="col-12">
        <h5 style="font-size: 0.8em">Remarks</h5>
        <form action="/expressions/<%=expression._id%>/comments" method="POST" class="mb-3 validated-form" novalidate>
            <!-- <div class="mb-3">
                <label class="form-label" for="rating">Rating (1-10)</label>
                <input class="form-range" type="range" min="1" max="10" name="comment[rating]" id="rating">
            </div> -->
            <div class="mb-3">
              
                <textarea class="form-control" name="comment[body]" id="body" cols="30" rows="3" required></textarea>
            
            </div>
            <button class="btn btn-sm btn-success">Submit</button>
        </form>
        <% for(let comment of expression.comments) { %>
        <div class="card mb-3 ">
            <div class="card-body">
                <!-- <h5 class="card-title">Rating: <%= comment.rating %></h5> -->
                <p class="card-text">Comment: <%= comment.body %></p>
                <p><em><span style="color:rgb(33, 32, 32);  font-size: 0.8em">Author: <%= comment.author.username %> at <%= comment.createdAt.toDateString() %></span></em></p>
                <form action="/expressions/<%=expression._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-sm btn-danger">Delete</button>
                </form>
            </div>
        </div>
        <% } %>
    </div>
    <% } %>

    <% if(expression.status==="REJECT"  ) {%>
    <div class="col-6">
        <h5 style="font-size: 0.8em">Reasons</h5>
        <form action="/expressions/<%=expression._id%>/evaluations" method="POST" class="mb-3 validated-form" novalidate>
            <!-- <div class="mb-3">
                <label class="form-label" for="rating">Rating (1-10)</label>
                <input class="form-range" type="range" min="1" max="10" name="evaluation[rating]" id="rating">
            </div> -->
            <div class="mb-3">
               
                <textarea class="form-control" name="evaluation[body]" id="body" cols="30" rows="3" required></textarea>
            
            </div>
            <button class="btn btn-sm btn-success">Submit</button>
        </form>
        <% for(let evaluation of expression.evaluations) { %>
        <div class="card mb-3 ">
            <div class="card-body">
                <!-- <h5 class="card-title">Rating: <%= evaluation.rating %></h5> -->
                <p class="card-text">Evaluation: <%= evaluation.body %></p>
                <p><em><span style="color:rgb(33, 32, 32); font-size: 0.8em">Author: <%= evaluation.author.username %> at <%= evaluation.createdAt.toDateString() %></span></em></p>
                <form action="/expressions/<%=expression._id%>/evaluations/<%=evaluation._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-sm btn-danger">Delete</button>
                </form>
            </div>
        </div>
        <% } %>
    </div>
    <% } %>


   

        

            
    </div>

</div>



